//Colores
$violeta: #C41CAD;
$rojo: #EB2839;
$acua: #2FC3B5;
$naranja: #FF7900;
$celeste: #01A9E7;
$blanco: #ffffff;
$negro: #000000;
$gris: #404040;
$azul: #001E9A;

//Tipografias
$cairo: 'cairo', sans-serif;
$light: 300;
$bold: 900;

//Screens
$tableta: '700px';
$escritorio: '1000px';